.kaitou{
    height: auto;
}
.kaitou .biaotu{
    width: 206px;
    height: 145px;
    background-size: 100%;
    padding-top: 11px;
    padding-left: 33px;
}
.kaitou .biaotu .tu{
    width: 173px;
    height: 107px;
}
.kaitou .biaotu .tu img{
    width: 100%;
}
.kaitou .kt1{
    overflow: hidden;
}
.kaitou .kt1 .kt2{
    float: left;
    width: 603px;
}
.kaitou .jianjie{
    float: none;
    margin-top: 24px;
    font-size: 14px;
}
.kaitou .jianjie .zaiyao{
    width: 100%;
    height: auto;
    display: block;
}
.kaitou .kt1 .kt2 h1{
    margin-top: 15px;
    font-size: 28px;
    font-weight: 600;
}
.kaitou .kt1 .kt2 .fubiao{
    margin-top: 12px;
    overflow: hidden;
}
.kaitou .kt1 .kt2 .fubiao p{
    color: #7d7d7d;
    float: left;
    margin-right: 22px;
}
.kaitou .zixun {
    margin-top: 22px;
}
.banner-dian .se{
    background: rgba(214,0,0,1) !important;
}
.banner-dian li{
    background: rgba(214,0,0,0.5) !important;
}
.nav-yiji .nav-yijinei:hover, .nav-yiji .nav-yijinei:hover .nav-yijia, .nav-erji .nav-erjinei:hover p, .nav-erji .nav-erjinei:hover .nav-erjia, .nav-sanji .nav-sanjinei:hover .nav-sanjia{
    color: #ffa401 !important;
}
.anlifl-box .anlifl-bian{
    background: url("https://jianze.github.io/imagesku/rgarga.png") no-repeat !important;
}
.yewu-box .yewu-show ul .yewu-list{
    background: url("https://jianze.github.io/imagesku/biankuang.png") !important;
}